.generic-btn{
    background-color: rgb(255, 196, 0);
    width: 50%;
    border:none;
    padding: 0.3em 0;
    border-radius: 0.5em;
    
}
.generic-btn:hover{
    background-color: rgb(223, 171, 0);
}