.cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.product-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1em;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgb(131, 131, 131);
    margin: 1em 1em;
}
.product-info .img-container{
    overflow: hidden;
}
.message-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-container .message{
    color: rgb(136, 136, 136);
    font-size: 1.5em;
    font-weight: 800;
    margin:1em
}
.btn-container > Button{
    color: white;
    width:6em;
    padding: 1em;
    background-color: rgb(255, 81, 0);
}
.product-info .product-title{
    font-size: 1.1em;
}
.img-container img{
    width: 100%;
}
.cart-container .detail-container{
    display: flex;
    align-items: center;
}
.cart-container > Button{
   width:auto;
   padding: 1em;
}
.cart-container .product-detail{
    width: 40vw;
}

@media all and (min-width:501px) {
    .product-info .img-container{
        width: 7%;
    }
    .cart-container .inner-container{
        width:80vw;
    }
}
@media all and (max-width:500px) {
    .product-info .img-container{
        max-width: 40%;
    }
}