*{
    box-sizing: border-box;
    margin: 0;
    
}
.product{
    width: 14em;
    overflow: hidden;
    height: 19.5em;
    box-shadow: 2px 2px 5px rgb(165, 160, 160);
    border-radius: 1em;
    color: rgb(100, 100, 100);
    margin: 1em;
}

.product .img{

    width: 80%;
    height: 100%;
    transition: transform 0.3s linear;
    
}
.product .img-container{
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.product .title{
    font-size: 0.9em;
    padding-bottom: 0.5em;
}
.product .description{
    height: 40%;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product .price{
    font-weight: 800;
    padding-top:0.5em;
    color: rgb(71, 71, 71);
}
.product:hover .img{
    transform: scale(1.2);
}
.product .rating-info{
    display: flex;

    justify-content: flex-start;
}
.rating-info .stars{
    font-size: 0.9em;
    color: gold;
    padding-right:1em;
}