nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   

}
.nav-cart-container{
    margin:1em 10vw;
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
}
nav .title{
    margin: 1em;
}
.nav-cart-container .icon{
    font-size: 1.6em;
    justify-self: end;
    color: rgb(255, 196, 0);
}
.nav-cart-container .count{
    position:absolute;
    bottom:0;
    right:-0.5em;
    color: rgb(255, 115, 0);
    font-weight: 800;
}
.nav-cart-container .icon:hover{
    color: rgb(223, 171, 0);
}